<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieDay</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/c4a27b7093.js" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/movie.css">
    <link rel="stylesheet" href="../styles/show.css">
</head>
<body>
    <header>
        <a href="./" class="logo">
            <div class="logo_bg"></div>
            <div class="logo_content">
                <i class="fa-solid fa-film"></i>
                MovieDay
            </div>
        </a>
        <nav>
            <a href="#popular">Populares</a>
            <a href="#cartelera">Cartelera</a>
            <a href="#trending">Tendencias</a>
        </nav>
    </header>
    <main>
        <div class="showMore">
            <aside class="showMore_aside">

            </aside>
            <section id="showMore_container-populares" class="showMore_container row">
                
            </section>
        </div>
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./src/nodes.js"></script>
    <script src="./src/app.js"></script>
    <script src="./src/navigator.js"></script>
</body>
</html>